# 시계열 데이터 전처리 - 결측치가 있는 행 삭제 실습

In [1]:
import pandas as pd 
import numpy as np

In [3]:
# 시계열 데이터 생성
np.random.seed(42)
dates = pd.date_range(start='2023-01-01', periods=100, freq='D')
values = np.random.randn(100)

# 결측치 생성 
values[20] = np.nan

# 데이터 프레임 생성
data = pd.DataFrame({
    'Date' : dates,
    'Value' : values
})


row = data.iloc[20]
print(row)

Date     2023-01-21 00:00:00
Value                    NaN
Name: 20, dtype: object

#### 결측치 개수 확인 체크

In [4]:
print(data.isnull().sum())

Date     0
Value    1
dtype: int64

In [5]:
data_without_missing = data.dropna(axis=0)

# 결측치 삭제 여부 확인 체크 
print(data_without_missing)

         Date     Value
0  2023-01-01  0.496714
1  2023-01-02 -0.138264
2  2023-01-03  0.647689
3  2023-01-04  1.523030
4  2023-01-05 -0.234153
..        ...       ...
95 2023-04-06 -1.463515
96 2023-04-07  0.296120
97 2023-04-08  0.261055
98 2023-04-09  0.005113
99 2023-04-10 -0.234587

[99 rows x 2 columns]