In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
url = 'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/King_County/kingCountyHouseData.csv'
df = pd.read_csv(url)

In [7]:
print(df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

## 정형 데이터 학습 중간평가 테스트

In [8]:
columns = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','price']
df = df.loc[:,columns]
print(df)

       bedrooms  bathrooms  sqft_living  sqft_lot  floors     price
0             3       1.00         1180      5650     1.0  221900.0
1             3       2.25         2570      7242     2.0  538000.0
2             2       1.00          770     10000     1.0  180000.0
3             4       3.00         1960      5000     1.0  604000.0
4             3       2.00         1680      8080     1.0  510000.0
...         ...        ...          ...       ...     ...       ...
21608         3       2.50         1530      1131     3.0  360000.0
21609         4       2.50         2310      5813     2.0  400000.0
21610         2       0.75         1020      1350     2.0  402101.0
21611         3       2.50         1600      2388     2.0  400000.0
21612         2       0.75         1020      1076     2.0  325000.0

[21613 rows x 6 columns]

In [10]:
features_data = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors']
target_data = ['price']
x_data = df.loc[:,features_data]
y_data = df.loc[:,target_data]

print(x_data)
print(y_data)

       bedrooms  bathrooms  sqft_living  sqft_lot  floors
0             3       1.00         1180      5650     1.0
1             3       2.25         2570      7242     2.0
2             2       1.00          770     10000     1.0
3             4       3.00         1960      5000     1.0
4             3       2.00         1680      8080     1.0
...         ...        ...          ...       ...     ...
21608         3       2.50         1530      1131     3.0
21609         4       2.50         2310      5813     2.0
21610         2       0.75         1020      1350     2.0
21611         3       2.50         1600      2388     2.0
21612         2       0.75         1020      1076     2.0

[21613 rows x 5 columns]
          price
0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
...         ...
21608  360000.0
21609  400000.0
21610  402101.0
21611  400000.0
21612  325000.0

[21613 rows x 1 columns]

## 데이터 나누기 train val test

In [11]:
x_train, x_val_list, y_train, y_val_list = train_test_split(x_data, y_data, random_state=777, train_size=0.8)
x_val, x_test, y_val, y_test = train_test_split(x_val_list, y_val_list, random_state=777, test_size=0.5)
print("-----변경되기 전 데이터 양-----")
print("x_data 크기 : ", x_data.shape)
print("y_data 크기 : ", y_data.shape)
print("-----변경 후 데이터 양-----")
print("x_train 크기 : ", x_train.shape)
print("y_train 크기 : ", y_train.shape)
print("x_val 크기 : ", x_val.shape)
print("y_val 크기 : ", y_val.shape)
print("x_test 크기 : ", x_test.shape)
print("y_test 크기 : ", y_test.shape)

-----변경되기 전 데이터 양-----
x_data 크기 :  (21613, 5)
y_data 크기 :  (21613, 1)
-----변경 후 데이터 양-----
x_train 크기 :  (17290, 5)
y_train 크기 :  (17290, 1)
x_val 크기 :  (2161, 5)
y_val 크기 :  (2161, 1)
x_test 크기 :  (2162, 5)
y_test 크기 :  (2162, 1)