In [1]:
# 조건에 따라서 다른 결과를 얻기 위해서 사용하는 것

value = 10
if value > 5:
    print('value is bigger than 5')

value is bigger than 5

In [2]:
money = 10
if money > 100:
    item = 'apple'
else:
    item = 'banana'
    
print(item)

banana

In [3]:
# 성적처리

score = int(input(('input your score:')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'
    
print('Your score is ' + str(score))
print('Your grade is ' + grade)

input your score:67
Your score is 67
Your grade is D

In [4]:
# 조건식의 참과 거짓

print(bool(True))
print(bool(False))
print(bool(123)) # 0을 제외한 숫자를 넣으면 true가 나옴
print(bool(0))
print(bool(-1))
print(bool('apple'))
print(bool(''))
print(bool()) # 내용이 없어도 False가 나옴

True
False
True
False
True
True
False
False

In [5]:
# 반복문 (while and for)

value = 5
while value > 0:
    print(value)
    value -= 1

5
4
3
2
1

In [6]:
l = ['Apple',100,15.23]
for i in l:
    print(i)

Apple
100
15.23

In [7]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop2:
    print("2 * " + str(i) + " = " + str(2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [8]:
for i in loop2:
    print("2 * {0} = {1}".format(i, i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [10]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]
for i in loop1:
    print('{0} 단-------------'.format(i))
    for j in loop2:
        print("{0} * {1} = {2}".format(i, j, i*j))

2 단-------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단-------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단-------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단-------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단-------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단-------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단-------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단-------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [11]:
L = [1,2,3,4,5,6,7,8,9,10]

In [14]:
# break문을 사용하면 반복문을 중간에 멈출 수 있습니다.

for i in L:
    if i>5:
        break
    print('Item:{0}'.format(i))

Item:1
Item:2
Item:3
Item:4
Item:5

In [17]:
# continue문을 사용하면 해당 반복만 건너뛴다.
for i in L:
    if i % 2 == 0:
        continue
    print('Item {0}'.format(i))

Item 1
Item 3
Item 5
Item 7
Item 9

In [21]:
# range 함수를 사용하면 특정 범위의 숫자를 생성할 수 있다.
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1))) # -1의 위치는 증가값
print(list(range(0,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8]

In [22]:
L =['Apple', 'Orange', 'Banana']

for i in L:
    print(i)

Apple
Orange
Banana

In [23]:
l = list(range(1,6))

In [25]:
[i**2 for i in l]

[1, 4, 9, 16, 25]